@media screen and (max-width: 740px) {
  .addShoe .add_title {
    width: 90%;
  }
  .addShoe .submit {
    width: 40%;
  }
}

.addShoe {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.add_title {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  padding: 1%;
}

.title {
  width: 30%;
  float: left;
}
.title::after {
  content: ": ";
}
.inputProps {
  width: 60%;
  padding: 1%;
  border: 1px rgb(156, 155, 155) dotted;
}
.title,
.submit {
  padding: 1%;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: rgb(255, 174, 0);
}

.submit {
  font-family: "Average Sans", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  width: 20%;
  margin-top: 2%;
  background-color: gold;
  cursor: pointer;
}
.submit:hover {
  color: white;
  background-color: rgb(146, 109, 8);
}
