@media screen and (max-width: 620px) {
  .homepage-container {
    flex-direction: column;
  }
  .homepage-container .shoe-card {
    width: 60%;
  }
}

.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: url("/src/images/backgroundRepeat.jpg") center center repeat
    repeat;
  background-size: auto;
}
.shoe-card {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 1%;
  align-items: center;
  color: rgb(100, 49, 49);
  width: 15%;
  border: 2px rgb(240, 239, 232) solid;
  border-radius: 38% 62% 49% 51% / 58% 55% 45% 42%;
  overflow: hidden;
  box-shadow: 1px 1px 1px white;
  background-color: gold;
}

.shoe-card img {
  flex: 1 1 40%;
  max-width: 100%;
  max-height: 100%;
}
.shoe-card .price {
  flex: 1 1 20%;
  margin: 1%;
}
