@media screen and (max-width: 740px) {
  .nav-bar-container a {
    font-size: 0.5rem;
  }
}

.nav-bar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  background-color: black;
  width: 100%;
  height: 13vh;
  padding: 4% 0;
}
a {
  color: gold;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}
.logo {
  max-height: 13vh;
}
